body {
  font-family: "Open Sans", serif;
  font-size: 1rem;
  line-height: 2;
  padding-top: 54px;
  /* color: #868e96; */
  color: #343a40;
  background-color: #b0f0e8;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Extra Condensed", serif;
  font-weight: 700;
  text-transform: uppercase;
  /* color: #343a40; */
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

li {
  list-style-type: circle;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }

  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }

  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }

  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }

  .container-fluid {
    width: 70%;
  }
  .name-title {
    /* background: url('/img/ZeytinAgaclari_eskiFoto.jpg') no-repeat center; */
    background: #5dbdb1;
    color: azure;
    width: 70%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 1;
  }

  /* index.html 'deki javascript ile .scrolled class'ı eklenince çalışacak style
   ilk açılışta back-ground aynı renkte iken, scrol ile yazı başlığa gelince renk 
   değişecek */
  .name-title.scrolled {
    background: #5dbdb1;
    transition: background 500ms;
    z-index: 1;
  }
}

section.resume-section {
  border-bottom: 1px solid #3d3f41;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #8f8edd !important;
}

a {
  color: #6d6cb9;
}

a:active,
a:focus,
a:hover {
  color: #6d6cb9;
}

table,
thead,
th,
td {
  border-bottom: 1px solid rgb(160, 159, 159);
  padding: 0 10px 0 10px;
}

table {
  margin: 2rem 0 2rem 0;
}
td,
th {
  text-align: center;
}

.td-title {
  text-align: left;
  font-weight: 700;
}
tr:nth-of-type(even) {
  background-color: #7bc5bc;
}

#publication,
p {
  margin-bottom: 0;
}

.pub-title {
  border-bottom: 1px solid #3d3f41;
  line-height: normal;
}
.pub-card {
  background-color: #cdccfa;
  line-height: normal;
}
.card-img-top {
  width: 100%;
  height: 100%;
}

.con-title,
.prj-title {
  border-top: 1px solid #3d3f41;
  padding-top: 1rem;
}
